@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --ui-primary: #FFC400;
    --ui-bg: #0A0B08;
    --ui-bg-inverted: white;
    --ui-bg-muted: #FFC400;
    --ui-bg-elevated: #FFC400;
    --ui-bg-accented: #FF6600;
    --ui-header-height: 100px;
}

header {
    background: none;
    backdrop-filter: none;
}

.welcome-section {
    background: linear-gradient(rgba(10, 11, 8, 1) 0%, rgba(10, 11, 8, 0) 50%, rgba(10, 11, 8, 1) 98%), url("/images/png/header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-advantages {
    background: linear-gradient(rgba(10, 11, 8, 1) 10%, rgba(10, 11, 8, 0) 50%, rgba(153, 89, 0, 1) 100%), url("/images/png/two-section.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2 {
        color: var(--ui-bg-muted);
        text-transform: uppercase;
        font-weight: 500;
    }

    .item {
        background: linear-gradient(rgba(86, 86, 86, 0.8) 10%, rgba(145, 145, 145, 0.2) 50%);
        padding: 16px;
        border-radius: 16px;
        backdrop-filter: blur(5px);
    }
}

.section-reviews {
    background: linear-gradient(rgba(153, 89, 0, 1) 0%, rgba(255, 146, 0, 0.7) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .item {
        background: linear-gradient(white 0%, #bdbdbd 100%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
        padding: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        backdrop-filter: blur(5px);
    }
}

.section-order {
    background: linear-gradient(rgba(255, 146, 0, 0.7) 0%, rgba(10, 11, 8, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .item {
        background: linear-gradient(white 0%, #bdbdbd 100%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
        padding: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        backdrop-filter: blur(5px);
    }
}

.button-gradient {
    background: linear-gradient(90deg, #FFC400 0%, #FF6600 100%);
    border-radius: 8px;
    padding: 1rem 2rem;
    font-style: italic;
    border-bottom: #FFC400 1px solid;
    border-top: #FF6600 2px solid;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgb(124, 63, 37), 0 6px 6px 0 rgba(213, 115, 0, 0.2);
    color: #0A0B08;

    &:hover {
        background: linear-gradient(160deg, #FFC400 0%, #FF6600 100%);
        transition: background 0.5s ease;
        cursor: pointer;
    }

    p {
        text-transform: uppercase;
        font-weight: 500;
    }
}

.cities-list {
    font-style: italic;
    font-size: 32px;
    color: #FFC400;

    .arrow {
        color: white;
        padding-bottom: 12px;
    }
}