@import "tailwindcss";
@import "@nuxt/ui";
@import "./fonts.css";

* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2, h3, h4, h5, h6, .title {
    font-family: "Literata", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --ui-primary: #FFC400;
    --ui-bg: #0A0B08;
    --ui-bg-inverted: white;
    --ui-bg-muted: #FFC400;
    --ui-bg-elevated: #cecece;
    --ui-bg-accented: #FF6600;
    --ui-header-height: 100px;
}

header {
    background: none;
    backdrop-filter: none;
}

.button-gradient {
    background: linear-gradient(90deg, #FFC400 0%, #FF6600 100%);
    border-radius: 8px;
    padding: 1rem 2rem;
    font-style: italic;
    border-bottom: #FFC400 1px solid;
    border-top: #FF6600 2px solid;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgb(124, 63, 37), 0 6px 6px 0 rgba(213, 115, 0, 0.2);
    color: #341400;

    &:hover {
        background: linear-gradient(160deg, #FFC400 0%, #FF6600 100%);
        transition: background 0.5s ease;
        cursor: pointer;
    }

    p {
        text-transform: uppercase;
        font-weight: 500;
    }
}

.animation-box {
    opacity: .9;
    scale: .9;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 700px;
}

@keyframes fade-in {
    to {
        opacity: 1;
        scale: 1;
    }
}

.directions-page {
    background: linear-gradient(rgba(153, 89, 0, 1) 0%, rgba(255, 146, 0, 0) 100%);

    h1 {
        font-style: italic;
        color: #ffc400;

        span {
            color: white;
        }
    }

    color: white;
}