@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('/fonts/Literata-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h2, h3, h4, h5, h6 {
    font-family: "Literata", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --ui-primary: #FFC400;
    --ui-bg: #0A0B08;
    --ui-bg-inverted: white;
    --ui-bg-muted: #FFC400;
    --ui-bg-elevated: #cecece;
    --ui-bg-accented: #FF6600;
    --ui-header-height: 100px;
}

header {
    background: none;
    backdrop-filter: none;
}

.welcome-section {

    @media (min-width: 1122px) {
        background: linear-gradient(rgba(10, 11, 8, 1) 0%, rgba(10, 11, 8, 0) 50%, rgba(10, 11, 8, 1) 98%), url("/images/webp/resize/16-9.webp");

    }

    @media (max-width: 1122px) and (min-width: 783px) {
        background: linear-gradient(rgba(10, 11, 8, 1) 0%, rgba(10, 11, 8, 0) 50%, rgba(10, 11, 8, 1) 98%), url("/images/webp/resize/5-4.webp");

    }

    @media (max-width: 783px) and (min-width: 573px) {
        background: linear-gradient(rgba(10, 11, 8, 1) 0%, rgba(10, 11, 8, 0) 50%, rgba(10, 11, 8, 1) 98%), url("/images/webp/resize/4-5.webp");

    }

    @media (max-width: 573px) {
        background: linear-gradient(rgba(10, 11, 8, 1) 0%, rgba(10, 11, 8, 0) 50%, rgba(10, 11, 8, 1) 98%), url("/images/webp/resize/9-16.webp");
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-advantages {
    background: linear-gradient(rgba(10, 11, 8, 1) 10%, rgba(10, 11, 8, 0) 50%, rgba(153, 89, 0, 1) 100%), url("/images/webp/two-section.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2 {
        color: var(--ui-bg-muted);
        text-transform: uppercase;
        font-weight: 500;
    }

    .item {
        background: linear-gradient(rgba(86, 86, 86, 0.8) 10%, rgba(145, 145, 145, 0.2) 50%);
        padding: 16px;
        border-radius: 16px;
        backdrop-filter: blur(5px);
    }
}

.section-questions {
    background: rgba(255, 146, 0, 0.7);

    .accordion-questions {
        background: linear-gradient(white 0%, #bdbdbd 100%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
        padding: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 16px;
        backdrop-filter: blur(5px);
    }

    h2 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.section-reviews {
    background: linear-gradient(rgba(153, 89, 0, 1) 0%, rgba(255, 146, 0, 0.7) 100%);

    h2 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .item {
        background: linear-gradient(white 0%, #bdbdbd 100%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
        padding: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        backdrop-filter: blur(5px);
    }
}

.modal-reviews {
    .item {
        background: linear-gradient(white 0%, #bdbdbd 100%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
        padding: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        backdrop-filter: blur(5px);
    }
}

.order-created {
    background: linear-gradient(white 0%, #bdbdbd 100%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
    padding: 26px;
    border-radius: 16px;
    backdrop-filter: blur(5px);
}

.section-order {
    background: linear-gradient(rgba(255, 146, 0, 0.7) 0%, rgba(10, 11, 8, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

    .item {
        background: linear-gradient(white 0%, #bdbdbd 100%);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.19);
        padding: 16px;
        border-bottom-right-radius: 16px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        backdrop-filter: blur(5px);
    }
}

.button-gradient {
    background: linear-gradient(90deg, #FFC400 0%, #FF6600 100%);
    border-radius: 8px;
    padding: 1rem 2rem;
    font-style: italic;
    border-bottom: #FFC400 1px solid;
    border-top: #FF6600 2px solid;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgb(124, 63, 37), 0 6px 6px 0 rgba(213, 115, 0, 0.2);
    color: #341400;

    &:hover {
        background: linear-gradient(160deg, #FFC400 0%, #FF6600 100%);
        transition: background 0.5s ease;
        cursor: pointer;
    }

    p {
        text-transform: uppercase;
        font-weight: 500;
    }
}

.cities-list {
    font-style: italic;
    font-size: 32px;
    color: #FFC400;

    span {
        color: white;
    }
}

.animation-box {
    opacity: .9;
    scale: .9;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: 250px 700px;
}

@keyframes fade-in {
    to {
        opacity: 1;
        scale: 1;
    }
}