@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@nuxt/ui";

* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --ui-bg: #0A0B08;
    --ui-bg-inverted: white;
    --ui-bg-muted: #FFC400;
    --ui-bg-elevated: #FFC400;
    --ui-bg-accented: #FF6600;
}

header {
    background: none;
    backdrop-filter: none;
}

.first-screen {
    background: linear-gradient(rgba(10, 11, 8, 1) 0%, rgba(10, 11, 8, 0) 50%, rgba(10, 11, 8, 1) 98%), url("/images/png/header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.two-section {
    background: linear-gradient(rgba(10, 11, 8, 1) 10%, rgba(10, 11, 8, 0) 50%, rgba(153, 89, 0, 1) 100%), url("/images/png/two-section.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2 {
        color: var(--ui-bg-muted);
        text-transform: uppercase;
        font-weight: 500;
    }

    .item {
        background: linear-gradient(rgba(86, 86, 86, 0.8) 10%, rgba(145, 145, 145, 0.2) 50%);
        padding: 16px;
        border-radius: 16px;
        backdrop-filter: blur(5px);
    }
}

.reviews-section {
    background: linear-gradient(rgba(153, 89, 0, 1) 0%, rgba(153, 89, 0, 0.4) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h2 {
        color: white;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 64px;
    }

    .item {
        background: linear-gradient(rgba(103, 62, 6, 0.2), #995900 100%);
        border: #FFC400 solid 1px;
        padding: 16px;
        border-radius: 16px;
        backdrop-filter: blur(5px);
    }
}

.button-gradient {
    height: 64px;
    background: linear-gradient(90deg, #FFC400 0%, #FF6600 100%);
    border-radius: 8px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 600;
    color: #0A0B08;

    &:hover {
        background: linear-gradient(160deg, #FFC400 0%, #FF6600 100%);
        transition: background 0.5s ease;
        cursor: pointer;
    }

    p {
        text-transform: uppercase;
        font-weight: 500;
    }
}

.cities-list {
    font-style: italic;
    font-size: 32px;
    color: #FFC400;

    .arrow {
        color: white;
        padding-bottom: 12px;
    }
}